<div class="contenedor">

    <form action="">
      <h1>TRANSFERENCIA</h1>
      <hr>
      <h3 style="text-align: center;">DATOS PERSONALES</h3>
        <div class="form">
          <div class="input-group">
            <input required="" type="text" name="text" autocomplete="off" class="input">
            <label class="user-label">Nombre</label>
            </div>
    
           
            <div class="input-group">
              <input required="" type="text" name="text" autocomplete="off" class="input">
              <label class="user-label">Apellidos</label>
            </div>
    
          </div>
        
          <hr>
          <h3 style="text-align: center;">DATOS DE TU CUENTA</h3>
          <div class="form">
    
            <div class="input-group">
              <input required="" type="text" name="text" autocomplete="off" class="input">
              <label class="user-label">IBAN</label>
              </div>
      
             
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Fecha Cad.</label>
              </div>

              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">CVV</label>
              </div>
    
          </div>

          <hr>

          <div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
    
            <button class="ui-btn">
              <span>
                ENVIAR 
              </span>
            </button>
    
          </div>

    </form>
</div>