<div class="contenedor">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <h1>TRANSFERENCIA</h1>
    <hr>
    <h3 style="text-align: center;">DATOS PERSONALES</h3>
    <div class="form">
  <div class="input-group">
    <input type="text" name="name" autocomplete="off" class="input" id="name" minlength="3" [(ngModel)]="transactionForm.name" required #name="ngModel">
    <label class="user-label">Nombre</label>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
      <div *ngIf="name.errors?.['required']" style="display: flex; align-items: center; gap: 5px;     margin-block-start: 0em;
    margin-block-end: 0em;">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 1.67c.955 0 1.845 .467 2.39 1.247l.105 .16l8.114 13.548a2.914 2.914 0 0 1 -2.307 4.363l-.195 .008h-16.225a2.914 2.914 0 0 1 -2.582 -4.2l.099 -.185l8.11 -13.538a2.914 2.914 0 0 1 2.491 -1.403zm.01 13.33l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -7a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" /></svg>
        <p> Pon tu nombre.</p>
    </div>
      <div *ngIf="name.errors?.['minlength']" class="error-message" style="display: flex; align-items: center; gap: 5px;     margin-block-start: 0em;
    margin-block-end: 0em;">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 1.67c.955 0 1.845 .467 2.39 1.247l.105 .16l8.114 13.548a2.914 2.914 0 0 1 -2.307 4.363l-.195 .008h-16.225a2.914 2.914 0 0 1 -2.582 -4.2l.099 -.185l8.11 -13.538a2.914 2.914 0 0 1 2.491 -1.403zm.01 13.33l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -7a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" /></svg>
        <p>Minimo 3 letras</p>
      </div>
    </div>
  </div>



  <div class="input-group">
    <input type="text" name="lastName" autocomplete="off" class="input" minlength="3" [(ngModel)]="transactionForm.lastName" required #lastName="ngModel">
    <label class="user-label">Apellidos</label>
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error-message">
      <div *ngIf="lastName.errors?.['required']" style=" display: flex; align-items: center; gap: 5px;     margin-block-start: 0em;
    margin-block-end: 0em;">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 1.67c.955 0 1.845 .467 2.39 1.247l.105 .16l8.114 13.548a2.914 2.914 0 0 1 -2.307 4.363l-.195 .008h-16.225a2.914 2.914 0 0 1 -2.582 -4.2l.099 -.185l8.11 -13.538a2.914 2.914 0 0 1 2.491 -1.403zm.01 13.33l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -7a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" /></svg>
        <p> Pon tus apellidos.</p>
    </div>
      <div *ngIf="lastName.errors?.['minlength']" class="error-message" style="display: flex; align-items: center; gap: 5px;     margin-block-start: 0em;
    margin-block-end: 0em;">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 1.67c.955 0 1.845 .467 2.39 1.247l.105 .16l8.114 13.548a2.914 2.914 0 0 1 -2.307 4.363l-.195 .008h-16.225a2.914 2.914 0 0 1 -2.582 -4.2l.099 -.185l8.11 -13.538a2.914 2.914 0 0 1 2.491 -1.403zm.01 13.33l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -7a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" /></svg>
        <p>Minimo 3 letras</p>
      </div>
    </div>
  </div>
</div>


    <hr>
    <h3 style="text-align: center;">DATOS DE TU CUENTA</h3>
    <div class="form">
      <div class="input-group">
        <input type="text" name="iban" autocomplete="off" class="input" [(ngModel)]="transactionForm.iban" required #iban="ngModel">
        <label class="user-label">IBAN</label>
      </div>

      <div class="input-group">
        <input type="text" name="fechaCad" autocomplete="off" class="input" [(ngModel)]="transactionForm.fechaCad" required #fechaCad="ngModel">
        <label class="user-label">Fecha Cad.</label>
      </div>

      <div class="input-group">
        <input type="password" name="cvv" maxlength="3" autocomplete="off" class="input" [(ngModel)]="transactionForm.cvv" required #cvv="ngModel">
        <label class="user-label">CVV</label>
      </div>
    </div>

    <hr>

    <div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
      <button class="ui-btn" type="submit">
        <span>ENVIAR</span>
      </button>
    </div>
  </form>
</div>
